* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    max-width: 100%;
    display: flex;
    margin-bottom: 50px;
}

.one {
    width: 60%;
}

.two {
    width: 40%;
}

.red {
    background-color: red;
    height: 400px;
    width: 100%;
}

.green {
    background-color: green;
    height: 200px;
    width: 100%;
}

.blue {
    background-color: blue;
    height: 200px;
    width: 100%;
}

.container2 {
    max-width: 100%;
    display: flex;
    margin-bottom: 50px;
}

.one2 {
    width: calc((100% - 15px) * 0.6);
    margin-right: 15px;
}

.two2 {
    width: calc((100% - 15px) * 0.4);
}

.container3 {
    max-width: 100%;
    display: flex;
    margin-bottom: 50px;
}

.red3 {
    background-color: red;
    height: 400px;
    width: calc((100%) / 3);
}

.green3 {
    background-color: green;
    height: 400px;
    width: calc((100%) / 3);
}

.blue3 {
    background-color: blue;
    height: 400px;
    width: calc((100%) / 3);
}

.container4 {
    max-width: 100%;
    display: flex;
    /* margin-bottom: 50px; */
}

.red4 {
    background-color: red;
    height: 400px;
    width: calc((100% - 30px) / 3);
    margin-right: 15px;
}

.green4 {
    background-color: green;
    height: 400px;
    width: calc((100% - 30px) / 3);
    margin-right: 15px;
}

.blue4 {
    background-color: blue;
    height: 400px;
    width: calc((100% - 30px) / 3);
}