* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.container {
    max-width: 100%;
}

.register-form {
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    height: 350px;
    max-width: 650px;
    margin: auto;
    display: flex;
}

.title {
    margin-bottom: 20px;
    margin-left: 30px;
}

.realname, .create-password {
    display: flex;
}

.realname, .email, .phonenumber, .create-password {
    margin-left: 30px;
    margin-bottom: 20px;
}

#fn, #pw {
    width: 180px;
    /* cursor:pointer; */
}

#ln, #cf {
    width: 180px;
    margin-left: 10px;
}

#em, #pn {
    width: calc(180px + 180px + 10px);
}

.email, .firstname, .lastname, .phonenumber, .password, .confirm {
    position: relative;
}

input {
    display: inline-block;
    border: thin solid #fafafa;
    border-bottom: solid medium #999;
    color: #444;
    background-color: #fafafa;
    padding: 10px 10px 10px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

input:focus {
    border: thin solid #1e73ce;
    border-bottom: solid medium #1e73ce;
    background-color:#fff;
}

label {
    color: #999;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 8px;
    transition: 0.2s;
}

.lastname-lable, .confirm-label {
    left: 20px;
}

input:focus ~ label, input:valid ~ label {
    top: -10px;
    left: 15px;
    font-size: small;
    color: #1e73ce;
    background-color:#fff;
    padding:0 5px 0 5px;
}

input {
    border: 1px solid #ddd;
    height: 30px;
    border-radius: 6px;
    padding-left: 10px;
}

input:focus { 
    outline: none !important;
    border: 2px solid #1e73ce;
 }

 .create-button {
    width: calc(180px + 180px + 10px);
    margin-left: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: end;
 }

.create {
    outline: none !important;
    background-color: #1e73ce;
    color: white;
    height: 30px;
    width: 100px;
    border-radius: 6px;
    text-decoration: none;
    border: transparent;
    cursor:pointer;
}

.create:hover {
    background-color: #045ab6;
    transition: 0.2s;
}

.logo {
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

img {
    max-width: 150px;
}