* {
    box-sizing: border-box;
}

body, html {
    background-color: #f4f7fa;
    color: #464646;
    font-family: Roboto,sans-serif;
    font-size: 15px;
}

#header {
    background-color: #30598c;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar {
    border: none!important;
    padding-bottom: 0;
    padding-top: 0;
}

.logo-brand, img {
    width: 120px;
}

img {
    vertical-align: middle;
    border-style: none;
}

.navbar-expand-lg {
flex-flow: row nowrap;
}

.parent-menu.desktop {
    flex: initial;
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}

.body-content {
    padding-bottom: 3rem!important;
    padding-top: 3rem!important;
}

.container {
    max-width: 1320px;
}

.row {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-wrap: wrap;
}

.box {
    height: 300px;
}

.subjectTitle {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

p {
    margin-top: 0;
}

.md-radio {
    margin-bottom: 1rem;
}

.md-radio label {
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    line-height: 20px;
    margin-bottom: 0;
    padding: 0 0 0 20px;
    position: relative;
    vertical-align: bottom;
}

.md-radio label:before {
    border: 2px solid #3c78e8;
    height: 20px;
    left: 0;
    top: 0;
    width: 20px;
}

.search-course {
    position: relative;
    width: 100%;
}

.list-search {
    margin-bottom: 1.5rem;
}

.list-search {
    grid-gap: 2rem 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

#input-search-course {
    color: #5e5e5e;
    padding: 6px 40px 6px 12px;
    width: 100%;
}

.search-course input {
    border: none;
    border-radius: 4px;
    /* box-shadow: 0 4px 4px rgb(0 0 0 / 15%); */
    -webkit-box-shadow: 0 4px 4px rgb(0 0 0 / 15%);
    outline: 0!important;
}

.form-control {
    display: block;
    /* width: 100%; */
    height: calc(1.5em + 0.75rem + 2px);
    /* padding: 0.375rem 0.75rem; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    /* color: #495057; */
    background-color: #fff;
    background-clip: padding-box;
    /* border: 1px solid #ced4da; */
    /* border-radius: 0.25rem; */
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button, input {
    overflow: visible;
}

.search-course .fa-search {
    color: #c4c4c4;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.fa, .fas {
    font-weight: 900;
}

.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}

.fa {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fa-search:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f002";
}

.list-courses, .list-search {
    grid-gap: 2rem 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.tech-card {
    background-color: #fff;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
    -webkit-box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
}

.list-courses a {
    color: #464646;
}

a {
    text-decoration: none;
    background-color: transparent;
}

.course-thumbnail {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
    position: relative;
    height: 200px;
}

.course-thumbnail img {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
}

img {
    vertical-align: middle;
    border-style: none;
}

.course-info {
    align-content: space-around;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 1.5rem 0;
}

.course-title {
    font-size: 1.2rem;
    width: 100%;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.course-description, .course-price {
    display: flex;
    justify-content: space-between;
}

.course-description {
    color: #757575;
    font-size: .9rem;
    font-weight: lighter;
    width: 100%;
}

.breadcrum-div {
    margin-bottom: 15px;
}

.breadcrum-div .bc {
    font-size: .6rem;
    padding: 0 1rem;
}

.col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

a {
    text-decoration: none;
    background-color: transparent;
}

.breadcrum-div a {
    color: #464646;
    font-size: 16px;
}

.col-md-8 {
    /* -ms-flex: 0 0 66.666667%; */
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.frame-div {
    border-radius: 4px;
}

.frame-div {
    background-color: #fff;
    -webkit-box-shadow: 0 4px 4px rgb(0 0 0 / 15%);
}

.title-div-info {
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
}

.support {
    align-items: center;
    border: 1px solid #f4f4f4;
    display: flex;
    padding: 1rem 1.5rem 2rem;
}

a {
    /* color: #007bff; */
    text-decoration: none;
    background-color: transparent;
}

.support-info-left img {
    border-radius: 100px;
    height: 100px;
    width: 100px;
}

.support-info-right {
    margin-left: 1rem;
}

.support-info-right span {
    color: #414141;
    display: block;
    font-style: normal;
    margin-bottom: 0.5rem;
}

b, strong {
    font-weight: bolder;
}

.btn {
    box-shadow: 0 2px 2px rgb(0 0 0 / 25%);
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.mr-2, .mx-2 {
    margin-right: 0.5rem!important;
}

.course-description {
    padding: 1rem 1.5rem 2rem;
}

p {
    margin-bottom: 15px;
    color: #464646;
}