* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: lightgreen;
}
.container {
    margin: auto;
    max-width: 1000px;
    /* height: 1000px; */
    /* background-color: rgba(0, 255, 255, 0.534); */
    display: flex;
    flex-wrap: wrap;
}

.one {
    background-color: lightgoldenrodyellow;
    width: 32%;
    height: 350px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    /* overflow: hidden;   thuộc tính này ẩn những phần lòi ra ngoài khung */
}

.two {
    width: 32%;
    height: 350px;
    border: 1px solid black;
}

